# Data Science Tools and Ecosystems

##### In this notebook, Data Science Tools and Ecosystem are summarized.

**Objective:**
* List popular languages for Data Science
* List of commonly used libraries used by Data Scientists include
* List of some data science tools
* Examples of Arithmatic Expressions

Some of the popular languages that Data Scientists use are:
1. python
2. R
3. Scala

Some of the commonly used libraries used by Data Scientists include:
1. numpy
2. pandas
3. pytorch
4. Scify
5. Tensorflow

<table>
    <tr><th>Data Science Tools</th></tr>
    <tr><td>Pandas</td></tr>
    <tr><td>Matplotlib</td></tr>
    <tr><td>Seaborn</td></tr>
</table>

### Below are a few examples of evaluating arithmetic expressions in Python:

In [3]:
# This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author :
Sounak Kundu